.imgSearch {
  width: 55%;
  height: 52%;
}

.color-fondo {
  background-color:#00BFA6;
  height: 100%;
}

.ancho-cuerpo{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
