.imgSearch {
  width: 55%;
  height: 52%;
}

.color-fondo {
  background-color:#00BFA6;
  height: 100%;
}

.ancho-cuerpo{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS para que se vea el input del mapa modal al agregar un local */
.pac-container{
  background-color: #FFF;
  z-index: 2001;
  position: fixed;
  display: inline-block;
  float: left;
}

.modal{
  z-index: 2000;
}

.modal-backdrop{
  z-index: 1000;
}
/* CSS para que se vea el input del mapa modal al agregar un local */
.radius-18 {
  border-radius: 18%;
}
