.color-fondo {
  background-color:#00BFA6;
  height: 100%;
}

.ancho-cuerpo{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
